.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-m);
}

.headerBtn {
    color: var(--c-white)
}

.headerBtn:hover {
    text-decoration: underline;
}
